@media (max-width: 690px) {
    main.conteudo-principal {
        max-width: 540px;
        justify-content: center;
        display: flex;        
        margin: 0 auto;
        margin-top: 85px;
        
    }

    div.conteudo-login {
        margin-top: 30px;
    }

    h2#faca-seu-login {
        width: 170px;
        text-align: center;
    }

    img#coringa-foto {
        width: 100%; /* Define a largura da imagem como 100% do seu contêiner */
        height: 100%; /* Define a altura da imagem como 100% do seu contêiner */
        object-fit: cover; /* Ajusta a imagem para preencher o contêiner, preservando a proporção */
        
    }

    section.secao-login {
        width: 170px;
        padding: 15px;
    }

    input#campo-senha, input#campo-email {
        display: flex;
        width: 160px;
        
    }

    input#entrar {
        width: 160px;
    }

    label.lembrar-me {
        display: flex;
        flex-direction: row;
        /* height: 45px; */
        margin-left: 0px;
    }

    footer > p {
        display: flex;
        flex-direction: column;
    }

}
